
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#intro{
  padding-top: 100px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.wrapper {
  position: relative;
  background:#2C2F31;
}

.containerChapters {
  position: fixed;
  left: 0px;;
  top: 0;
  background: #2C2F31;
  height: 100vh;
  padding: 20px;
  z-index: 1;
  width: 10%;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.ic-wrapp {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.containerChapters .chapter {
  text-decoration: none;
  color: #fbfbfb;
  font-weight: 450;
  padding-top: 10px;
  text-align: center;
}

.icon{
  fill:#FBFBFB;
}
.circle{
  fill:none;
  stroke:#FBFBFB;
  stroke-miterlimit:10;
}

.bck{fill:#323234;stroke:#323234;stroke-miterlimit:10;}
.circle-mode{fill:#FBFBFB;stroke:#323234;stroke-miterlimit:10;}
.sun{fill:#FBFBFB;}
.moon{fill:#323234;}

#icons {
  height: 30px;
  margin: auto;
  left: 0;
}

#light{
  height: 30px;
  margin: auto;
  left: 0;
}

img {
  width: 590px;
  margin: auto;
  display: block;
}

p.chapter{
  margin: 0;
  text-decoration: none;
  font-size: 14px;
}
.navSlider{
  height: 100%;
  top:0;
  left: 0;
  width: 40px;
  position: fixed;
  background-color: #D4C595;
}
#arrow{
  text-align: center;
  padding-top: 350px;
}

#arrowSvg{
  transition: margin-left .5s;
}


.wrapper{
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .containerChapters {padding-top: 15px;}
  .containerChapters a {font-size: 18px;}
}

/*
.containerChapters {
position: fixed;

left: 0;

top: 0;
background: #D4C595;
height: 100%;
padding: 20px;
z-index: 2;
overflow-x:
display: flex;
justify-content: space-around;
flex-direction: column;
}
*/
/*
.containerChapters a{
display: block;
text-decoration: none;
color: #5C5120;
font-weight: 700;
font-family: 'Libre Baskerville',serif;
font-size: 1em;
line-height: 1.5;
}
*/
.header,
.contentArticle {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 90%;
  line-height: 30px;
}

.title{
  font-family: 'Libre Baskerville', serif;
  color: #fbfbfb;
  font-size: 5em;
  line-height: 1.5;
}

.title,
#authors {
  text-align: center;
}

#authors{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 13px;
  color:#fbfbfb;
}

.line {
  height: 4px;
  width: 590px;
  background: linear-gradient(to right, #ebcc95, #e4b669);
  transform: rotate(180deg);
  margin: auto;
}

.lineupper {
  height: 4px;
  width: 590px;
  background: linear-gradient(to left, #ebcc95, #e4b669);
  transform: rotate(-180deg);
  margin: auto;
}

video {
  display: block;
  width: 70%;
  margin: auto;
}

.quote{
  font-family: 'Libre Baskerville',serif;
  font-weight: bold;
  color: #fbfbfb;
  line-height: 2.5;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
  font-size: 23px;
  width: 590px;
  margin: auto;
}

#hand{
  padding-top: 50px;
  padding-bottom: 140px;
  font-family: 'Libre Baskerville',serif;
  font-weight: bold;
  color: #fbfbfb;
  line-height: 2.5;
  text-align: center;
  font-size: 23px;
  width: 590px;
  margin: auto;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 38px;
  color:#FDCA65;
  line-height: 43px;
  width: 590px;
  margin: auto;
  padding: 30px 0px;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #fbfbfb;
  width: 590px;
  margin: auto;
  padding: 1em 0px;
  font-size: 17px;
  line-height: 1.8em;
}
#back{
  text-align: center;
}

.padding{
  height: 90px;
  width: 100%;
}

.paddingbottom{
  height: 30px;
  width: 100%;
}

object{
  display: block;
  width: 70%;
  margin: auto;
}

.ic-wrapp svg{
  display: flex;
  width: 30px;
  margin: auto;
}

.obj:hover{
  stroke: none;
}

.chapter{
  visibility: hidden;
}

.ic-wrapp:hover .circle{
  stroke: #FFCC66;
  stroke-width: 2.5px;
}

.ic-wrapp:hover .chapter{
  visibility:visible;
  text-decoration: none;
}

svg {
  display: block;
  width: 70%;
  margin: auto;
}

#Title {
  display: block;
  width: 70%;
  margin: auto;
}

/*------------------------*/

.modal {
  display: absolute;
  position: fixed;
  z-index: 3;
  padding-left: 80%;
  left: 10px;
  top: -2px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.modal-content {
  text-align: center;
  background-color: #ECE9E2;
  margin: auto;
  padding: 5px;
  border:2px solid #D4C595;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 220px;
  height: 135px;
}


#modalp{
  font-family: 'Libre Baskerville',serif;
  color: #73000A;
  font-weight: bold;
  font-size: 12px;
}
/*
.mailForm{
width: 590px;
margin: auto;
}

#formCont{
padding: 20px;
border-radius: 25px;
background-color:#F3E9BC;
}

input[type="text"], textarea{
background-color: #fbf8e9;
font-family: 'Open Sans', sans-serif;
margin-bottom: 15px;

}

input[type="email"], textarea{
background-color: #fbf8e9;
font-family: 'Open Sans', sans-serif;
} */


/*
textarea{
margin: auto;
height: 200px;
width: 100%
} */

.system{
  font-family: 'Libre Baskerville',serif;
  font-weight: bold;
  color: #FDCA65;

}

::cue{
  background-color:rgba(00,00,00,0.5);
  font-family: "Open Sans", sans-serif;
}

.soundBtn{
  top:98%;
  position: absolute;
}


.wrapvid{
  margin: 0 auto;
  padding: 0px;
}

.player_wrapper{
}

video::-webkit-media-controls-panel{
  background-image:none!important;
}

.form {
  width: 620px;
  margin:auto;
  background: #2C2F31;
  border-radius: 3px;
  margin-top: 5em;
  margin-bottom: 6em;
  padding: 1.25em;
}

#formintro{
  font-family: "Open Sans", sans-serif;
}


.btn-primary {
  box-shadow: 0;
  border: none;
  background-color: #FFCC66;
  border-color: #48c9b0;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 20%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}

.btn-primary:hover {
  background-color: #ffb31a;
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 5px;
  background: #444A4D;
  font-size: 15px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

input, textarea {
  transition: all 800ms;
  font-family: "Open Sans", sans-serif;
  outline:none;
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #fbfbfb;
  margin-top: 1.25em;
}

input:focus, textarea:focus {
  border-color: #FFCC66;
  color: #34495e;
}


textarea.form-control {
  height: 120px;
  transition: .6s;
}

textarea.form-control:focus {
  height: 200px;
  border-color: #FFCC66;
}
