html {
  scroll-behavior: smooth;
}
body{
  margin:0;
  display: grid;
  width: 50%;
  padding: 15%;
  margin: 15%;
  border: 25%;
  background-color: white;
  color:black;
}

.content {

  margin-left: auto;
  margin-right: auto;
}

nav{
  white-space: nowrap;
  background: #37474F;
}

nav ul {
  list-style: none;
  margin: 0;
  padding:0;
}

@media(min-height: 300px){
  nav ul {
    position: sticky;
    top:0;
  }
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

main {
  padding-bottom: 40rem;
}
