@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

body{

}
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 4em;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 2.5em;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.7;
}

.quote {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 1.6em;
  color: #73000A;
}

.content {
  margin:15%;
  display: grid;
  width: 50%;
  padding: 15%;
  border: 25%;
  background-color: white;
  color: black;

}

.containerChapters {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  justify-content: space-around;
}

.containerChapters a {
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
  text-decoration: none;
  color: white;
  display: inline-flex;
}

/*
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: orange;
  -webkit-transition:.4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  bottom:4px;
  left: 4px;
  background-color: #fff;
  -webkit-transition:.4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gray;
}

input:checked +.slider:before{
  -webkit-transform:translateX(26px);
  -ms-transform:translateX(26px);
  transform: :translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius:50%;
}

*/

form {
  width: 100%;
  margin: 10% auto;
  min-width: 9rem;
}

input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: lightgrey;
}

#submitButton{
  text-align: center;
  display: flex;
  width: 50%;
}


.carousel{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}


.carousel-container{
  width: 726px;
  margin: auto;
  border:5px solid black;
  overflow: hidden;
}
.carousel-slider{
  display: flex;
  width: 726px;
  height: 500px;
}
