
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
  background: #ece9e2;
}

.containerChapters {
  position: fixed;
  left: 0;
  top: 0;
  background: #d4c595;
  height: 100vh;
  padding: 20px;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.containerChapters a {
  text-decoration: none;
  color: #73000a;
  font-weight: 700;
  font-family: 'Libre Baskerville',serif;
  font-size: 1em;
}

.header,
.contentArticle {
  width: 590px;
  margin: auto;
  max-width: 90%;
  line-height: 30px;
}

.title{
  font-family: 'Libre Baskerville', serif;
  font-size: 2.5em;
}

.title,
#authors {
  text-align: center;
}

.line {
  height: 4px;
  width: 590px;
  background: linear-gradient(to right, #e5ce5c, #e1e5cf);
  transform: rotate(180deg);
}

video {
  width: 100%;
}

.quote{
  font-family: 'Libre Baskerville',serif;
  font-weight: bold;
  color: #73000A;
  line-height: 2.5;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 38px;
  color:#73000A;
  line-height: 43px;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #282828;
}
