
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
  background: #ECE9E2;
}

.navSlider{
  height: 100%;
  top:0;
  left: 0;
  width: 40px;
  position: fixed;
  background-color: #D4C595;
}
#arrow{
  text-align: center;
  padding-top: 350px;
}

#arrowSvg{
  transition: margin-left .5s;
}
.containerChapters{
  height: 100%;
  width: 0;
  position: fixed;
  z-index:2;
  top: 0;
  left:0;
  background-color: #D4C595;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:60px;
}

.containerChapters a {
  display: flex;
  padding:50px;
  text-decoration: none;
  font-size: 1em;
  color: #5C5120;
  font-weight: 700;
  font-family: 'Libre Baskerville',serif;
  line-height: 1.5;
}

.containerChapters a:hover{
  color:grey;
}



.wrapper{
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .containerChapters {padding-top: 15px;}
  .containerChapters a {font-size: 18px;}
}

/*
.containerChapters {
  position: fixed;

  left: 0;

  top: 0;
  background: #D4C595;
  height: 100%;
  padding: 20px;
  z-index: 2;
  overflow-x:
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
*/
/*
.containerChapters a{
  display: block;
  text-decoration: none;
  color: #5C5120;
  font-weight: 700;
  font-family: 'Libre Baskerville',serif;
  font-size: 1em;
  line-height: 1.5;
}
*/
.header,
.contentArticle {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 90%;
  line-height: 30px;
}

.title{
  font-family: 'Libre Baskerville', serif;
  color: #73000A;
  font-size: 5em;
  line-height: 1.5;
}

.title,
#authors {
  text-align: center;
}

#authors{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 13px;
  color:#686868;
}

.line {
  height: 4px;
  width: 590px;
  background: linear-gradient(to right, #e5ce5c, #e1e5cf);
  transform: rotate(180deg);
  margin: auto;
}

.lineupper {
  height: 4px;
  width: 590px;
  background: linear-gradient(to left, #e5ce5c, #e1e5cf);
  transform: rotate(-180deg);
  margin: auto;
}

video {
  display: block;
  width: 70%;
  margin: auto;
}

.quote{
  font-family: 'Libre Baskerville',serif;
  font-weight: bold;
  color: #73000A;
  line-height: 2.5;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
  font-size: 23px;
  width: 590px;
  margin: auto;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 38px;
  color:#73000A;
  line-height: 43px;
  width: 590px;
  margin: auto;
  padding: 30px 0px;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #282828;
  width: 590px;
  margin: auto;
  padding: 1em 0px;
}

.padding{
  height: 80px;
  width: 100%;
}

.paddingbottom{
  height: 30px;
  width: 100%;
}

object{
  display: block;
  width: 70%;
  margin: auto;
}

/*------------------------*/

.modal {
  display: block;
  position: fixed;
  z-index: 3;
  padding-left: 80%;
  left: 10px;
  top: -2px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.modal-content {
  text-align: center;
  background-color: #ECE9E2;
  margin: auto;
  padding: 5px;
  border:2px solid #D4C595;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 220px;
  height: 135px;
}


#modalp{
  font-family: 'Libre Baskerville',serif;
  color: #73000A;
  font-weight: bold;
  font-size: 12px;
}

.mailForm{
  width: 590px;
  margin: auto;
}

.input{
padding: 100px;
}

textarea{
  margin: auto;
  height: 200px;
  width: 100%
}
