
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
  background: #ECE9E2;
  padding-left: 30%; /*Dette er egentlig en dårlig ide, men funker foreløpig*/
}

.containerChapters {
  position: fixed;
  left: 0;
  top: 0;
  background: #d4c595;
  height: 100vh;
  padding: 20px;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.containerChapters a {
  text-decoration: none;
  color: #73000a;
  font-weight: 700;
  font-family: 'Libre Baskerville',serif;
  font-size: 1em;
}

.header,
.contentArticle {
  width: 590px;
  margin: auto;
  max-width: 90%;
  line-height: 30px;
}

.title{
  font-family: 'Libre Baskerville', serif;
  color: #73000A;
  font-size: 5em;
  line-height: 1.5;
}

.title,
#authors {
  text-align: center;
}

#authors{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 13px;
  color:#686868;
}

.line {
  height: 4px;
  width: 590px;
  background: linear-gradient(to right, #e5ce5c, #e1e5cf);
  transform: rotate(180deg);
}

.lineupper {
  height: 4px;
  width: 590px;
  background: linear-gradient(to left, #e5ce5c, #e1e5cf);
  transform: rotate(-180deg)
}

video {
  width: 100%;
}

.quote{
  font-family: 'Libre Baskerville',serif;
  font-weight: bold;
  color: #73000A;
  line-height: 2.5;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
  font-size: 23px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 38px;
  color:#73000A;
  line-height: 43px;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #282828;
}

.padding{
  height: 80px;
  width: 100%;
}

.paddingbottom{
  height: 30px;
  width: 100%;
}

/*------------------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  text-align: center;
  background-color: #ECE9E2;
  margin: auto;
  padding: 20px;
  border:5px solid #D4C595;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 400px;
  height: 300px;
}

#buttons{
  text-align: center;
}

#modalp{
  font-family: 'Libre Baskerville',serif;
  color: #73000A;
  font-weight: bold;
  font-size: 23px;
}
