body{
  width: 50%;
  padding: 15%;
  margin: 15%;
  border: 25%;


}

h1:first-child::first-letter{
  /* BLurred text*/
  color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}


/* Quote box*/
.header{
  background:#f9f9f9;
  border-left:10px solid #ccc;
  margin:1.5em 10px;
  padding:.5em 10px;

}
.header:before {
color:#ccc;
content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;

}
