
body {
  width: 60%;
  margin:auto;
}
.container {
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;

  /* Splitter teksten i kolonner*/
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}


.parallax {
  background: url(image1.jpg) no-repeat center;
  background-size:cover;
  background-attachment: fixed;
  height: 500px;
}
